<!--
~ Travers Consulting
~
~ [2014] - [2019] Travers Consulting Incorporated
~ All Rights Reserved.
~
~ NOTICE:  All information contained herein is, and remains
~ the property of Travers Consulting Incorporated and its suppliers,
~ if any.  The intellectual and technical concepts contained
~ herein are proprietary to Travers Consulting Incorporated
~ and its suppliers and may be covered by U.S. and Foreign Patents,
~ patents in process, and are protected by trade secret or copyright law.
~ Dissemination of this information or reproduction of this material
~ is strictly forbidden unless prior written permission is obtained
~ from Travers Consulting Incorporated.
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{projects.page.title}">Title</title>
    <div th:insert="fragments/sections.html :: headitems"> </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var projectColumns = [
                /*{
                    "sTitle": "Punch",
                    "mData": "punch",
                    "bSortable": true,
                    "mRender": function (data, type, full) {
                        if (data != null) {
                            return '<a href="#" class="blueLink" onclick="projectEdit(\'' + data + '\');return false;" >'+data+'</a>';
                        } else {
                            return 'error';
                        }
                    },
                    "sWidth": "25px"
                },*/
                {"sTitle": "Project Name", "mData": "projectName"}
            ];

            $('#projectTable').DataTable({
                "dom": '<"top"if>rt<"bottom"lp><"clear">',
                "iDisplayLength": 10,
                "bProcessing": true,
                "sAjaxSource": '/api/projects/list',
                "aoColumns": projectColumns,
                "aaSorting": [],
                "deferRender": true,
                "oLanguage": {"sSearch": "Filter: "}
            });

            var dialogproject, formActionproject;

            dialogproject = $( "#dialog-form-project" ).dialog({
                autoOpen: false,
                height: 450,
                width: 700,
                modal: true,
                buttons: {
                    "Save": projectsubmit,
                    Cancel: function() {
                        dialogproject.dialog( "close" );
                    }
                },
                close: function() {
                    $('#projectTable').DataTable().ajax.reload();
                }
            });

            formActionproject = dialogproject.find( "dialog-form-project" ).on( "submit", function( event ) {
                event.preventDefault();
                projectsubmit();
            });

            $( "#add_project_action" ).button().on( "click", function() {
                document.getElementById("form_action_project").reset();
                document.getElementById("id").value = "";
                document.getElementById("active").value = "";
                $("#newOrReset").val("true");
                loadRoles();
                dialogproject = $( "#dialog-form-project" ).dialog({
                    autoOpen: false,
                    height: 450,
                    width: 700,
                    modal: true,
                    buttons: {
                        "Save": projectsubmit,
                        Cancel: function() {
                            dialogproject.dialog( "close" );
                        }
                    },
                    close: function() {
                        $('#projectTable').DataTable().ajax.reload();
                    }
                });
                dialogproject.dialog( "open" );
            });
        });
        function projectEdit(data){
            document.getElementById("form_action_project").reset();
            document.getElementById("id").value = "";
            document.getElementById("active").value = "";
            loadRoles();
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/api/projects/"+data,
                //data: JSON.stringify(search),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {
                    $("#form_action_project :input").each(function(){
                        $(this).val(data[$(this).attr("id")]);
                    });
                    $("#newOrReset").val("false");
                    for(var i =0; i < data["roles"].length; i++){
                        $("#roles option[value='"+data.roles[i].id+"']").prop("selected", true);
                    }
                },
                error: function (e) {

                    var json = "<h4>Ajax Response</h4><pre>"
                        + e.responseText + "</pre>";
                    //$('#feedback').html(json);

                    console.log("ERROR : ", e);
                }
            });
            var dialogproject = $( "#dialog-form-project" ).dialog({
                autoOpen: false,
                height: 450,
                width: 700,
                modal: true,
                buttons: {
                    "Save": projectsubmit,
                    "Reset Password": function(){
                        $("#newOrReset").val("true");
                        projectsubmit();
                    },
                    Cancel: function() {
                        dialogproject.dialog( "close" );
                    }
                },
                close: function() {
                    $('#projectTable').DataTable().ajax.reload();
                }
            });
            dialogproject.dialog( "open" );
        }


        function projectsubmit() {
            console.log(data = $( "#form_action_project" ).serialize());
            $.ajax({
                type: "POST",
                url: "/api/projects/",
                data: $( "#form_action_project" ).serialize(),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {
                    var json = "<h4>Ajax Response</h4><pre>"
                        + JSON.stringify(data, null, 4) + "</pre>";
                    $('#feedback').html(json);
                    var dialogproject = $( "#dialog-form-project" ).dialog({
                        autoOpen: false,
                        height: 450,
                        width: 700,
                        modal: true,
                        buttons: {
                            "Save": projectsubmit,
                            Cancel: function() {
                                dialogproject.dialog( "close" );
                            }
                        },
                        close: function() {
                            $('#projectTable').DataTable().ajax.reload();
                        }
                    });

                    dialogproject.dialog( "close" );

                },
                error: function (e) {

                    var json = "<h4>Ajax Response</h4><pre>"
                        + e.responseText + "</pre>";
                    $('#feedback').html(json);

                    console.log("ERROR : ", e);

                }
            });
        }

        function loadRoles(){
            $.ajax({
                type: "GET",
                url: "/api/roles/list",
                timeout: 600000,
                success: function(data){
                    $("#roles").empty();
                    for(var i =0; i < data.data.length; i++){
                        $("#roles").append("<option value = '"+data.data[i].id+"'>"+data.data[i].role+"</option>");
                    }
                }
            });
        }
    </script>
</head>
<body>
<div class="container">
    <div th:insert="fragments/sections.html :: header"> </div>
    <br/>
    <table id ='projectLabel'><tr style="vertical-align:middle"><td style="font-weight: bold;font-size: 18px;color: darkblue">project</td><td>&nbsp;<button id="add_project_action" class="tcui-add-icon" title="Add">&nbsp;</button></td></tr></table>
    <table id="projectTable" class="hover" width="100%"></table>

    <div id="dialog-form-project" title="Create project ">
        <p>All form fields are required.</p>

        <form id="form_action_project" name="form_action_project">
            <input type="hidden" name = "id" id = "id"/>
            <input type="hidden" id = "newOrReset" name = "newOrReset"/>
            <input type="hidden" id = "active" name = "active"/>
            <label for="projectName" class="strong">Project Name:</label>
            <input id = "projectName" name = "projectName" size="45"><br>
            4
            </select>
        </form>
    </div>


    <div th:insert="fragments/sections.html :: footer"> </div>
</div>

</body>
</html>
