

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{timesheet.page.title}">Title</title>
    <div th:insert="fragments/sections.html :: headitems"> </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var timesheetColumns = [
                /*{
                    "sTitle": "Punch",
                    "mData": "punch",
                    "bSortable": true,
                    "mRender": function (data, type, full) {
                        if (data != null) {
                            return '<a href="#" class="blueLink" onclick="timesheetEdit(\'' + data + '\');return false;" >'+data+'</a>';
                        } else {
                            return 'error';
                        }
                    },
                    "sWidth": "25px"
                },*/
                {"sTitle": "Entry", "mData": "punch"},
                {"sTitle": "First Name", "mData": "firstName"},
                {"sTitle": "Last Name", "mData": "lastName"},
                //{"sTitle": "Date", "mData": "Date"},
                {"sTitle": "Time In", "mData": "timeIn"},
                {"sTitle": "Time Out", "mData": "timeOut"},
                {"sTitle": "Billed", "mData": "billed"},
                {"sTitle": "Paid", "mData": "paid"},
                {"sTitle": "Notes", "mData": "notes"}
            ];

            $('#timesheetTable').DataTable({
                "dom": '<"top"if>rt<"bottom"lp><"clear">',
                "iDisplayLength": 10,
                "bProcessing": true,
                "sAjaxSource": '/api/timesheets/list',
                "aoColumns": timesheetColumns,
                "aaSorting": [],
                "deferRender": true,
                "oLanguage": {"sSearch": "Filter: "}
            });

            var dialogtimesheet, formActiontimesheet;

            dialogtimesheet = $( "#dialog-form-timesheet" ).dialog({
                autoOpen: false,
                height: 450,
                width: 700,
                modal: true,
                buttons: {
                    "Save": timesheetsubmit,
                    Cancel: function() {
                        dialogtimesheet.dialog( "close" );
                    }
                },
                close: function() {
                    $('#timesheetTable').DataTable().ajax.reload();
                }
            });

            formActiontimesheet = dialogtimesheet.find( "dialog-form-timesheet" ).on( "submit", function( event ) {
                event.preventDefault();
                timesheetsubmit();
            });

            $( "#add_timesheet_action" ).button().on( "click", function() {
                document.getElementById("form_action_timesheet").reset();
                document.getElementById("id").value = "";
                document.getElementById("active").value = "";
                $("#newOrReset").val("true");
                loadRoles();
                dialogtimesheet = $( "#dialog-form-timesheet" ).dialog({
                    autoOpen: false,
                    height: 450,
                    width: 700,
                    modal: true,
                    buttons: {
                        "Save": timesheetsubmit,
                        Cancel: function() {
                            dialogtimesheet.dialog( "close" );
                        }
                    },
                    close: function() {
                        $('#timesheetTable').DataTable().ajax.reload();
                    }
                });
                dialogtimesheet.dialog( "open" );
            });
        });
        function timesheetEdit(data){
            document.getElementById("form_action_timesheet").reset();
            document.getElementById("id").value = "";
            document.getElementById("active").value = "";
            loadRoles();
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/api/timesheet/"+data,
                //data: JSON.stringify(search),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {
                    $("#form_action_timesheet :input").each(function(){
                        $(this).val(data[$(this).attr("id")]);
                    });
                    $("#newOrReset").val("false");
                    for(var i =0; i < data["roles"].length; i++){
                        $("#roles option[value='"+data.roles[i].id+"']").prop("selected", true);
                    }
                },
                error: function (e) {

                    var json = "<h4>Ajax Response</h4><pre>"
                        + e.responseText + "</pre>";
                    //$('#feedback').html(json);

                    console.log("ERROR : ", e);
                }
            });
            var dialogtimesheet = $( "#dialog-form-timesheet" ).dialog({
                autoOpen: false,
                height: 450,
                width: 700,
                modal: true,
                buttons: {
                    "Save": timesheetsubmit,
                    "Reset Password": function(){
                        $("#newOrReset").val("true");
                        timesheetsubmit();
                    },
                    Cancel: function() {
                        dialogtimesheet.dialog( "close" );
                    }
                },
                close: function() {
                    $('#timesheetTable').DataTable().ajax.reload();
                }
            });
            dialogtimesheet.dialog( "open" );
        }


        function timesheetsubmit() {
            console.log(data = $( "#form_action_timesheet" ).serialize());
            $.ajax({
                type: "POST",
                url: "/api/timesheets/",
                data: $( "#form_action_timesheet" ).serialize(),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {
                    var json = "<h4>Ajax Response</h4><pre>"
                        + JSON.stringify(data, null, 4) + "</pre>";
                    $('#feedback').html(json);
                    var dialogtimesheet = $( "#dialog-form-timesheet" ).dialog({
                        autoOpen: false,
                        height: 450,
                        width: 700,
                        modal: true,
                        buttons: {
                            "Save": timesheetsubmit,
                            Cancel: function() {
                                dialogtimesheet.dialog( "close" );
                            }
                        },
                        close: function() {
                            $('#timesheetTable').DataTable().ajax.reload();
                        }
                    });

                    dialogtimesheet.dialog( "close" );

                },
                error: function (e) {

                    var json = "<h4>Ajax Response</h4><pre>"
                        + e.responseText + "</pre>";
                    $('#feedback').html(json);

                    console.log("ERROR : ", e);

                }
            });
        }

        function loadRoles(){
            $.ajax({
                type: "GET",
                url: "/api/roles/list",
                timeout: 600000,
                success: function(data){
                    $("#roles").empty();
                    for(var i =0; i < data.data.length; i++){
                        $("#roles").append("<option value = '"+data.data[i].id+"'>"+data.data[i].role+"</option>");
                    }
                }
            });
        }
    </script>
</head>
<body>
<div class="container">
    <div th:insert="fragments/sections.html :: header"> </div>
    <br/>
    <table id ='timesheetLabel'><tr style="vertical-align:middle"><td style="font-weight: bold;font-size: 18px;color: darkblue">timesheet</td><td>&nbsp;<button id="add_timesheet_action" class="tcui-add-icon" title="Add">&nbsp;</button></td></tr></table>
    <table id="timesheetTable" class="hover" width="100%"></table>

    <div id="dialog-form-timesheet" title="Create timesheet ">
        <p>All form fields are required.</p>

        <form id="form_action_timesheet" name="form_action_timesheet">
            <input type="hidden" name = "id" id = "id"/>
            <input type="hidden" id = "newOrReset" name = "newOrReset"/>
            <input type="hidden" id = "active" name = "active"/>
            <label for="firstName" class="strong">First Name:</label>
            <input id = "firstName" name = "firstName" size="45"><br>
            <label for="lastName" class="strong">Last Name:</label>
            <input id = "lastName" name = "lastName" size="45"><br>
            <label for="time_in" class="strong">Time In:</label>
            <input id = "time_in" name = "TimeIn" size="45"><br>
            <label for="time_out" class="strong">Time Out:</label>
            <input id = "time_out" name = "TimeOut" size="45"><br>
            <label for="paid" class="strong">Paid:</label>
            <input id = "paid" name = "paid" size="45"><br>
            <label for="billed" class="strong">Billed:</label>
            <input id = "billed" name = "billed" size="45"><br>
            <label for="notes" class="strong">Notes:</label>
            <input id = "notes" name = "notes" size="45"><br>
            <label for="roles" class="strong">Associated Roles:</label>
            <select id="roles" name = "rolesId"  size="10" multiple="multiple">
            </select>
        </form>
    </div>


    <div th:insert="fragments/sections.html :: footer"> </div>
</div>

</body>
</html>