<!DOCTYPE html>
<html lang = "en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{changepassword.page.title}">Title</title>
    <div th:insert="fragments/sections.html :: headitems"> </div>
</head>
<body>
<div class="container">
    <div th:insert="fragments/sections.html :: header"> </div>
    <br/>
    <form th:action="@{/api/users/changepassword}" method="POST" class="form-signin">
        <label for="oldPassword">Old Password:</label>
        <input type="password"  th:placeholder="Password"
               id="oldPassword" name="oldPassword" class="form-control"/> <br />
        <label for="newPassword">New Password:</label>
        <input type="password"  th:placeholder="Password"
               id="newPassword" name="newPassword" class="form-control"/> <br />
        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password"  th:placeholder="Password"
               id="confirmPassword" name="confirmPassword" class="form-control"/> <br />
        <button class="tcui-login-icon ui-button ui-corner-all ui-widget" name="Submit" value="Login" type="Submit" th:text="'Change Password'"></button>
        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
    </form>
</div>
</body>
</html>