<!--
  ~ Travers Consulting
  ~
  ~ [2014] - [2019] Travers Consulting Incorporated
  ~ All Rights Reserved.
  ~
  ~ NOTICE:  All information contained herein is, and remains
  ~ the property of Travers Consulting Incorporated and its suppliers,
  ~ if any.  The intellectual and technical concepts contained
  ~ herein are proprietary to Travers Consulting Incorporated
  ~ and its suppliers and may be covered by U.S. and Foreign Patents,
  ~ patents in process, and are protected by trade secret or copyright law.
  ~ Dissemination of this information or reproduction of this material
  ~ is strictly forbidden unless prior written permission is obtained
  ~ from Travers Consulting Incorporated.
  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{home.page.title}">Title</title>
    <div th:insert="fragments/sections.html :: headitems"> </div>
</head>
<body>
	<div class="container">
        <div th:insert="fragments/sections.html :: header"> </div>
        <br/>
        <br/>
        <div style="text-align: center;"> Welcome to Travers Consulting Time Tracking & Expense System </div>
        <br/>
        <br/>
        <div style="text-align: center;"> Consultants, Please enter your time and expenses under the "Time Sheet" tab for Dr. Travers Approval </div>
        <div>

        </div>


        <div th:insert="fragments/sections.html :: footer"> </div>
	</div>
</body>
</html>
